div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}
.translated{
    transform: perspective(10px) translateZ(-10px);
}
.scaled{
    margin-left: 500px;
    transform: perspective(345px) scaleZ(6) rotateX(45deg) rotateY(20deg);
}
.static{
    transform: rotateZ(30deg);
}